In [1]:
## Classification Tree on Unbalanced Dataset
import os
import pandas as pd
import numpy as np

#Set the working directory
os.chdir("D:\Machine learning\Supervised learning Classification\CART  Python")

#Load the Dataset
CTDF_dev = pd.read_csv("DEV_SAMPLE.csv")
CTDF_holdout = pd.read_csv("HOLDOUT_SAMPLE.csv")

In [2]:
print( len(CTDF_dev),  len(CTDF_holdout))

14000 6000

In [3]:
CTDF_dev.head()

,Cust_ID,Target,Age,Gender,Balance,Occupation,No_OF_CR_TXNS,AGE_BKT,SCR,Holding_Period
0,C16505,0,41,M,91519.92,SELF-EMP,38,41-45,926,15
1,C17241,0,52,M,117288.96,SAL,17,>50,768,13
2,C18802,0,31,F,259827.44,SENP,8,31-35,816,5
3,C19289,0,45,F,26677.55,PROF,14,41-45,353,18
4,C14028,0,39,F,43440.31,SENP,1,36-40,751,31

In [4]:


CTDF_dev.Target.value_counts()

0    12765
1     1235
Name: Target, dtype: int64


Here the data is unbalanced, need to oversample the data to make it balanced.
Response_percentage = 1235/14000 * 100
Response_percentage
8.8214 %
Need to make it 13%

In [41]:
X =  CTDF_dev[['Age', 'Gender', 'Balance', 'Occupation',
               'No_OF_CR_TXNS', 'AGE_BKT', 'SCR', 'Holding_Period']]
X = pd.get_dummies(X)

y= CTDF_dev["Target"]

In [19]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE

In [36]:
print('Original dataset shape {}'.format(Counter(y_train)))

Original dataset shape Counter({0: 12765, 1: 1235})

In [42]:
sm = SMOTE(random_state=12, ratio = 0.15)
X_train, y_train = sm.fit_sample(X, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:77: DeprecationWarning: Function _ratio_float is deprecated; Use a float for 'ratio' is deprecated from version 0.2. The support will be removed in 0.4. Use a dict, str, or a callable instead.
  warnings.warn(msg, category=DeprecationWarning)

In [44]:
print('after sampling dataset shape {}'.format(Counter(y_train)))

after sampling dataset shape Counter({0: 12765, 1: 1914})